.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.headerSection {
  padding-top: 5.6rem;
  padding-bottom: 8rem;
  background-color: #fff;
}

.nav {
  display: flex;
  align-items: center;
}

.navLinks {
  display: flex;
  margin-left: auto;
  column-gap: 4rem;
  margin-right: 4rem;
}

.navLinks > li {
  list-style: none;
  color: #0a2640;
  font-size: 1.6rem;
  line-height: 28px;
  font-weight: 600;
  text-transform: capitalize;
  cursor: pointer;
}

.headSection {
  display: flex;
  justify-content: space-between;
  padding: 2.4rem;
}

.headerText {
  display: flex;
  flex-direction: column;
  max-width: 60rem;
}

.headerText h1 {
  font-weight: 400;
  font-size: 4.8rem;
  line-height: 72px;
  margin-bottom: 0;
}

.headerText p {
  color: #777777;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 28px;
}

.headerButtons {
  padding: 1.6rem 0;
  display: flex;
  align-items: flex-start;
  column-gap: 2.4rem;
}

.headerImages .big {
  grid-area: big;
}

.headerImages .mid {
  grid-area: mid;
  justify-self: end;
}

.headerImages .small {
  grid-area: small;
}

.headerImages {
  display: grid;
  grid-gap: 2.4rem;
  grid-template-areas:
    'big big big'
    'small mid mid';
}

.marquee {
  display: flex;
  justify-content: space-around;
}

.services {
  background-color: #0a2640;
  text-align: center;
}

.services p {
  color: #f1f1f1;
  font-weight: 400;
  font-size: 2rem;
  line-height: 32px;
  text-transform: capitalize;
}

.services h2 {
  font-weight: 400;
  font-size: 4.8rem;
  line-height: 72px;
  color: #ffffff;
  max-width: 80rem;
  margin: 0 auto;
}

.serviceCardSection {
  display: flex;
  justify-content: space-between;
  padding-top: 7.2rem;
}

.serviceCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.serviceCard p {
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 36px;
  color: #ffffff;
}

.serviceExplore {
  border-bottom: 1px solid #ffffff;
  display: flex;
  align-items: center;
  column-gap: 0.4rem;
}

.serviceExplore span {
  text-transform: capitalize;
  color: #ffffff;
  font-weight: 700;
  font-size: 2rem;
  line-height: 36px;
}

.customers {
  display: flex;
  justify-content: space-between;
}

.customers2 {
  composes: customers;
  padding-top: 4.8rem;
}

.customersText {
}

.customersText h3 {
  max-width: 49.3rem;
  font-weight: 400;
  font-size: 3.6rem;
  line-height: 56px;
}

.customerList {
  display: flex;
  flex-direction: column;
  row-gap: 1.6rem;
  padding: 0;
  margin-bottom: 3.2rem;
}

.customerList li {
  list-style: none;
  display: flex;
  align-items: center;
  column-gap: 0.8rem;
  font-weight: 400;
  font-size: 2rem;
  line-height: 32px;
}

.customerList2 {
  composes: customerList;
}

.customerList2 li:first-child {
  display: flex;
  align-items: center;
  column-gap: 0.8rem;
  background: #0a2640;
  box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  padding: 0.8rem;
  color: #ffffff;
}

.customerList2 li {
  display: flex;
  align-items: center;
  column-gap: 0.8rem;
  background: #ffffff;
  box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  padding: 0.8rem;
}

.enterprise {
  background-color: #0a2640;
}

.enterpriseText {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.enterpriseText h2 {
  color: #ffffff;
  font-weight: 400;
  font-size: 4.8rem;
  line-height: 72px;
  max-width: 72rem;
  margin: 0;
}

.arrows {
  display: flex;
  column-gap: 2.4rem;
}

.arrows > * {
  cursor: pointer;
}

.enterpriseCards {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 4.8rem;
}

.enterpriseCard {
  display: flex;
  flex-direction: column;
  padding: 4rem;
  background: #ffffff;
  box-shadow: 0px 12px 32px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
  width: 35rem;
}

.enterpriseCard h4 {
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 36px;
  color: #000000;
}

.enterpriseCardFooter {
  display: flex;
  column-gap: 1.6rem;
}

.enterpriseCardFooterChild {
  display: flex;
  flex-direction: column;
}

.enterpriseCardFooterChild p {
  margin: 0;
}

.enterpriseCardFooterChild p:first-child {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 32px;
}

.enterpriseCardFooterChild p {
  font-weight: 400;
  font-size: 14px;
  line-height: 32px;
}

.workLife {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 4.8rem;
}

.workLifeText {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.workLifeText h3 {
  font-weight: 400;
  font-size: 3.6rem;
  line-height: 56px;
  max-width: 50rem;
}

.workLifeList {
  display: flex;
  flex-direction: column;
}

.workLifeList > div {
  display: flex;
  column-gap: 2.4rem;
  border-bottom: 1px solid #c4c4c4;
  padding: 1.6rem 0;
  align-items: center;
}

.blog {
  text-align: center;
}

.blog p {
  color: #777777;
  font-weight: 400;
  font-size: 2rem;
  line-height: 32px;
  text-transform: capitalize;
}

.blog h2 {
  font-weight: 400;
  font-size: 4.8rem;
  line-height: 72px;
  max-width: 84rem;
  margin: 0 auto;
}

.blogCardSection {
  display: flex;
  padding: 4.8rem 0;
  justify-content: space-between;
}

.blogCard {
  width: 300px;
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;
  align-items: flex-start;
}

.blogCard p {
  font-weight: 400;
  font-size: 2rem;
  line-height: 32px;
  color: #000000;
  text-align: left;
}

.blogCardText {
  display: flex;
}

.blogCardText span:first-child {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 28px;
  text-transform: capitalize;
  color: #0a2640;
}

.blogCardText span {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 28px;
  color: #777777;
}

.blogCardFooter {
  display: flex;
  align-items: center;
  column-gap: 1.6rem;
}

.newsletter {
  background: url('/images/newsletter.png');
  background-size: cover;
  background-position: top;
  border-radius: 12px;
}

.newsletterInput {
  max-width: 720px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.newsletterInput h1 {
  margin: 0;
  font-weight: 400;
  font-size: 4.8rem;
  line-height: 72px;
  color: #ffffff;
  text-align: center;
}

.inputSection {
  display: flex;
  column-gap: 3.2rem;
  margin: 0 auto;
  padding-top: 3.2rem;
}

.input {
  background: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 24rem;
  width: 37rem;
  padding: 1.2rem 3.2rem;
  outline: none;
}

.button {
  background-color: #65e4a3;
  color: #0a2640;
}
